{{>header.htm}}
      <textarea id="code">module Main

alert : String -&gt; JS_IO ()
alert s = foreign FFI_JS &quot;alert(%0)&quot; (String -&gt; JS_IO ()) s

main : JS_IO ()
main = alert &quot;Hello world!&quot;</textarea>
      <p class="compile-buttons">
        <button type="button" class="btn btn-primary" id="execute-button">Compile and execute</button>
        <button type="button" class="btn btn-primary" id="compile-button">Compile to JavaScript</button>
        <button type="button" class="btn btn-default" id="share-button">Hashify</button>
      </p>
      <pre class="js-output"><code id="output"></code></pre>
{{>footer.htm}}
