<!doctype html>
<html>
  <head>
    <title>Try Idris</title>
    <link href="styles/bootstrap.min.css" rel="stylesheet" />
    <link href="styles/codemirror.css" rel="stylesheet" />
    <script src="scripts/codemirror.min.js"></script>
    <script src="scripts/haskell.js"></script>
    <script src="scripts/jquery-1.10.1.min.js"></script>
    <script src="scripts/jquery.console.js"></script>
    <link href="style.css" rel="stylesheet" />
    <script src="console.js"></script>
    <script src="compile.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="navigation pull-right">
        <a class="btn btn-default {{#in-console}}active{{/in-console}}" href="/console">Console</a>
        <a class="btn btn-default {{#in-compile}}active{{/in-compile}}" href="/compile">Compile</a>
      </div>
      <h1>Try Idris</h1>
